<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="col-md-6">
      <h2>All champions</h2>
      <table class="table tablesorter" id="champion_table">
        <thead>
          <tr>
            <th>Icon</th>
            <th>Name</th>
            <th>Role</th>
            <th>LSS</th>
            <th>Performance</th>
          </tr>
        </thead>

        <tbody>
          <% @champions.each do |champion| %>
            <tr>
              <td><img src="<%= champion.icon %>"></td>
              <td><%= champion.name %> (<%= champion.summoner.name %>) </td>
              <td><%= champion.role %></td>
              <td><%= champion.lss %></td>
              <td><%= champion.performance %> %</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <table class="table tablesorter" id="pick_table">
        <h2>Best Picks</h2>
        <thead>
          <tr>
            <th>Icon</th>
            <th>Name</th>
            <th>Role</th>
            <th>LSS</th>
            <th>Performance</th>
          </tr>
        </thead>

        <tbody>
          <% @best_picks.each do |pick| %>
            <% pick.each do |position, champion|%>
              <% if champion%>
                <tr>
                  <td><img src="<%= champion.icon %>"></td>
                  <td><%= champion.name %> (<%= champion.summoner.name %>) </td>
                  <td><%= champion.role %></td>
                  <td><%= champion.lss %></td>
                  <td><%= champion.performance %> %</td>
                </tr>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>


</div>
